# La Liga cup (Football tournament) Analysis
                       -By Preety Paramanick

In [1]:
import pandas as pd
import numpy as np

# Load the Laliga dataset
laliga_df = pd.read_csv('Laliga.csv', header=1)

# Display the first few rows of the dataset
laliga_df.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

 1.Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [2]:
# Replace dashes with 0 in the dataframe
laliga_df.replace('-', 0, inplace=True)

 2.Print all the teams which have started playing between 1930-1980.

In [3]:
# Print all the teams which have started playing between 1930-1980
start_year = laliga_df['Debut'].str[:4].astype(int)
teams_between_1930_1980 = laliga_df[(start_year >= 1930) & (start_year <= 1980)]['Team']
# Print the teams that started playing between 1930-1980
print(teams_between_1930_1980)

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

 3.Print the list of teams which came Top 5 in terms of points

In [4]:
# Print the list of teams which came Top 5 in terms of points
laliga_df['Points'] = pd.to_numeric(laliga_df['Points'])
top_5_teams_points = laliga_df.nlargest(5, 'Points')['Team']
#Print Top 5 points to display
print("The top 5 teams with most points are:\n",top_5_teams_points)

The top 5 teams with most points are:
 0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

 4.Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference.

In [5]:
# Define a function to calculate Goal Difference

def Goal_diff_count(df):
    df['GoalsFor'] = pd.to_numeric(df['GoalsFor'])
    df['GoalsAgainst'] = pd.to_numeric(df['GoalsAgainst'])
    df['GoalDiff'] = df['GoalsFor'] - df['GoalsAgainst']
    return df[['Team', 'GoalDiff']]

# Calculate Goal Difference for all teams
goal_diff_all_teams = Goal_diff_count(laliga_df)
#Display Goal Difference
print(goal_diff_all_teams)

                Team  GoalDiff
0        Real Madrid      2807
1          Barcelona      2786
2    Atletico Madrid      1225
3           Valencia       929
4    Athletic Bilbao       931
..               ...       ...
56             Xerez       -28
57            Condal       -20
58   Atletico Tetuan       -34
59  Cultural Leonesa       -31
60            Girona         0

[61 rows x 2 columns]

In [6]:

# Find the team with maximum and minimum goal difference
max_goal_diff_team = goal_diff_all_teams.nlargest(1, 'GoalDiff')['Team'].values[0]
min_goal_diff_team = goal_diff_all_teams.nsmallest(1, 'GoalDiff')['Team'].values[0]

max_goal_diff = goal_diff_all_teams['GoalDiff'].max()
min_goal_diff = goal_diff_all_teams['GoalDiff'].min()

print("Maximum Goal Difference:\n",max_goal_diff_team,max_goal_diff) 
print("Minimum Goal Difference:\n",min_goal_diff_team, min_goal_diff)

Maximum Goal Difference:
 Real Madrid 2807
Minimum Goal Difference:
 Racing Santander -525

 5.Create a new column with name “Winning Percent” and append it to the data set 

Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%

Print the top 5 teams which has the highest Winning percentage

In [7]:
def convert_to_numeric(column):
    laliga_df[column] = pd.to_numeric(laliga_df[column], errors='coerce').fillna(0).astype(int)

convert_to_numeric('GamesWon')
convert_to_numeric('GamesPlayed')

# Create 'Winning Percent' column
laliga_df['Winning Percent'] = (laliga_df['GamesWon'] / laliga_df['GamesPlayed']) * 100
laliga_df['Winning Percent'] = laliga_df['Winning Percent'].fillna(0)

# Print the top 5 teams with the highest Winning percentage
top_5_winning_percent = laliga_df.nlargest(5, 'Winning Percent')[['Team', 'Winning Percent']]
print(top_5_winning_percent)

              Team  Winning Percent
0      Real Madrid        59.630702
1        Barcelona        57.241130
2  Atletico Madrid        47.475134
3         Valencia        44.557057
4  Athletic Bilbao        43.772629

 6.Group teams based on their “Best position” and print the sum of their points for all positions

In [8]:
# Group teams based on their 'Best Position' and print the sum of their points for all positions
best_position_points = laliga_df.groupby('BestPosition')['Points'].sum().reset_index()
print(best_position_points)

    BestPosition  Points
0              1   27933
1              2    6904
2              3    5221
3              4    6563
4              5    1884
5              6    2113
6              7    1186
7              8    1134
8              9      96
9             10     450
10            11     445
11            12     511
12            14      71
13            15      14
14            16      81
15            17     266
16            19      81
17            20      34